.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Sidebar formating --------------------------------------------*/

.sidebar {
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}

.rmdwarn {
  border: 1px solid #EA4335;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}

.rmdnote {
  border: 1px solid #FBBC05;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}

.rmdtip {
  border: 1px solid #34A853;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}
.book .book-body .page-wrapper .page-inner section.normal div.rmdwarn > :first-child,
.book .book-body .page-wrapper .page-inner section.normal div.rmdnote > :first-child,
.book .book-body .page-wrapper .page-inner section.normal div.rmdtip > :first-child,
.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :first-child {
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.rmdwarn > :last-child,
.book .book-body .page-wrapper .page-inner section.normal div.rmdnote > :last-child,
.book .book-body .page-wrapper .page-inner section.normal div.rmdtip > :last-child,
.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :last-child {
  margin-bottom: 0;
}

div.rmdwarn::before {
  display: block;
  content: "警告";
  color: #EA4335;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

div.rmdnote::before {
  display: block;
  content: "注意";
  color: #FBBC05;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

div.rmdtip::before {
  display: block;
  content: "提示";
  color: #34A853;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.todo {
  display: block;
  border: 1px solid #4285f4;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 1em 0;
}

.todo::before {
  content: "TO DO: ";
  font-weight: bold;
  color: #4285f4;
}

.flushright {
  text-align: right;
}

blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
